.cart-container {
    align-items: center;

    &__pfp {
        cursor: pointer;
        max-width: 25px;

        &:hover {
            opacity: 0.7;
        }
    }

    @media(min-width: 45em) {
        margin-left: auto;

        &__pfp {
            max-width: 50px;

            @media(min-width: 55em) {
                margin-left: 1.85rem;
            }
        }

    }

    position: relative;
}

.cart {
    z-index: 50;
    padding: 1.4em 1.3em;
    border-radius: 0.75rem;
    position: fixed;
    background-color: hsl(var(--clr-white));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 25px 0px;
    inset: 74px 7.5px auto 7.5px;
    // height: 240px;
    display: none;

    @media(min-width: 35em) {
        min-width: 340px;
        inset: 90px 100px auto auto;
    }

    &__title {
        &::after {
            content: '';
            position: absolute;
            top: 65px;
            left: 0;
            background-color: hsl(var(--clr-primary-600) / .4);
            width: 100%;
            height: 2px;
        }
    }

    &__content {
        height: 100%;
        padding: 4em 0 2em;

        gap: 1rem;

        &__p {
            text-align: center;
        }

        .btn {
            align-self: start;
        }

        &__info {
            align-items: center;
            justify-self: start;
        }

        &__details {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.4rem;

            strong {
                color: hsl(var(--clr-black))
            }
        }

        &__img {
            max-width: 50px;
            border-radius: 0.25rem;
        }
    }

    i {
        margin-left: auto;
    }

    &[data-visible=true] {
        display: block;
    }
}